/*BODY*/
body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

/*DISPLAY*/
.red-line{
    display: inline-block;
}

/*INPUT*/
.red-inp-1{
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    outline: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

/*BLOCK*/
.red-block{
    width: auto;
    height: auto;
    border: 1px solid #ccc;
}

/*ROTATE*/
.red-rotate-90{
    transform: rotate(90deg);
}
.red-rotate-180{
    transform: rotate(180deg);
}
.red-rotate-270{
    transform: rotate(270deg);
}

/*IMAGE*/
.red-img-zoom img{
    position: absolute;
    cursor: pointer;
    transition: 1s ease;
}
.red-img-zoom:focus img{
    top: 50%;
    left: 50%;
    height: 80%;
    width: auto;
    transform: translate(-50%, -50%);
}

.red-img{
    width: 100%;
    height: auto;
}

.red-img-circle{
    border-radius: 50%;
}

.red-img-default{
    transition: 1s ease;
}
.red-img-default:hover{
    border-radius: 0;
    width: 100%;
    filter: blur(0);
    height: auto;
}

.red-filter-blur{
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.red-filter-gray{
    -webkit-filter: grayscale(10%);
    filter: grayscale(50%);
}
.red-filter-shadow{
    -webkit-filter: drop-shadow(8px 8px 10px gray);
    filter: drop-shadow(8px 8px 10px gray);
}
.red-filter-saturate{
    -webkit-filter: saturate(150%);
    filter: saturate(150%);
}
.red-filter-sepia{
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

/*CONTAINER*/
.red-container{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
}

/*ITEM*/
.red-item{
    transition: 0.30s ease;
}
.red-item:hover{
    background: inherit;
}

/*MODAL*/
.red-modal{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    overflow-y: auto;
}

.red-modal-page{
    width: 50%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    color: black;
}

.red-modal-close{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 10px;
}

.red-modal-close:before{
    position: fixed;
    right: 30px;
    top: 30px;
    background: white;
    content: '';
    height: 5px;
    width: 30px;
    transform: rotate(45deg);
}

.red-modal-close:after{
    position: fixed;
    right: 30px;
    top: 30px;
    background: white;
    content: '';
    height: 5px;
    width: 30px;
    transform: rotate(-45deg);
}

/*INVISIBLE*/
.red-invisible{
    display: none;
}

/*TRANSITION*/
.red-transition{
    transition: 1.5s ease;
}

/*ZOOM*/
.red-anim-zoom{
    animation: text-zoom 3s;
    transition: 2s ease;
}

/*ANIM-LEFT*/
.red-anim-left{
    -webkit-animation: animLeft 2s forwards;
    -webkit-animation-delay: 2s;
    animation: animLeft 2s forwards;
    animation-delay: 0s;
    transition: 2s ease;
}

/*ANIM-RIGHT*/
.red-anim-right{
    -webkit-animation: animRight 2s forwards;
    -webkit-animation-delay: 2s;
    animation: animRight 2s forwards;
    animation-delay: 0s;
    transition: 2s ease;
}

/*ANIM-TOP*/
.red-anim-top{
    -webkit-animation: animTop 2s forwards;
    -webkit-animation-delay: 2s;
    animation: animTop 2s forwards;
    animation-delay: 0s;
    transition: 2s ease;
}

/*ANIM-BOTTOM*/
.red-anim-bottom{
    -webkit-animation: animBottom 2s forwards;
    -webkit-animation-delay: 2s;
    animation: animBottom 2s forwards;
    animation-delay: 0s;
    transition: 2s ease;
}

/*ANIM-BOTTOM*/
.red-anim-rotate{
    -webkit-animation: animRotate 2s forwards;
    -webkit-animation-delay: 2s;
    animation: animRotate 2s forwards;
    animation-delay: 0s;
    transition: 2s ease;
}

/*COLOR*/
.red-black{
    background: black;
}
.red-white{
    background: white;
}
.red-green{
    background: #4ad950;
}
.red-red{
    background: #f44336;
}
.red-purple{
    background: #9c27b0;
}
.red-pink{
    background: #e91e63;
}
.red-yellow{
    background: #ffeb3b; 
}
.red-orange{
    background: #ff5722;
}
.red-blue{
    background: #2196f3;
}

/*BORDER*/
.red-border{
    background: #009650;
    border: none;
    height: 40px;
    color: #FFFFFF;
    font-size: 32px;
}

/*HAUT DE PAGE*/
.red-pres{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: auto;
}

/*TEXT CONTAINER*/
.red-text{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

/*ALIGN*/
.red-center{
    text-align: center;
}

.red-right{
    text-align: right;
}

.red-left{
    text-align: left;
}

.red-center-div{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

/*TITRE*/
.red-title{
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: default;
}

/*RAINBOW-TEXT*/
.red-rainbow-color{
    animation: rainbowT 10s infinite;
}

/*RAINBOW-BACKGROUND*/
.red-rainbow-background{
    animation: rainbow 10s infinite;
}

/*ICON-MENU*/
.red-icon-menu{
    position: absolute;
    top: 25px;
    left: 25;
    width: calc(20px + 20px);
    height: 40px;
}

.red-icon-menu:before{
    content: '';
    display: block;
    background: transparent;
    border: none;
    border-top: 5px solid #000000;
    width: calc(20px + 10px);
    height: 10px;
    transition: 1s ease;
    display: block;
}

.red-icon-menu:after{
    z-index: 1;
    display: block;
    content: '';
    border: none;
    background: transparent;
    border-bottom: 5px solid #000000;
    width: calc(20px + 10px);
    height: 0;
    transition: 1s ease;
}

.red-icon-menu:hover:before{
    height: 0;
    transform: rotate(45deg) translate(+5px, +5px);
}

.red-icon-menu:hover:after{
    height: 0;
    transform: rotate(135deg);
}

/*ICON-MENU-WHITE*/
.red-icon-menu-white{
    position: absolute;
    top: 25px;
    left: 25px;
    width: calc(20px + 20px);
    height: 40px;
}

.red-icon-menu-white:before{
    content: '';
    display: block;
    background: transparent;
    border: none;
    border-top: 5px solid #FFFFFF;
    width: calc(20px + 10px);
    height: 10px;
    transition: 1s ease;
    display: block;
}

.red-icon-menu-white:after{
    z-index: 1;
    display: block;
    content: '';
    border: none;
    background: transparent;
    border-bottom: 5px solid #FFFFFF;
    width: calc(20px + 10px);
    height: 0;
    transition: 1s ease;
}

.red-icon-menu-white:hover:before{
    height: 0;
    transform: rotate(45deg) translate(+5px, +5px);
}

.red-icon-menu-white:hover:after{
    height: 0;
    transform: rotate(135deg);
}

/*IPHONE BUTTON*/
.red-shutdown{
    background: #ffffff;
    border: 2px solid #e5e5e5;
    height: 25px;
    width: 50px;
    border-radius: 16px;
    display: block;
    transition: all 0.30s ease;
}
.red-button-shutdown{
    transition: all 0.30s ease;
    display: block;
    content: '';
    background: #FFFFFF;
    border-radius: 50%;
    height: calc(25px - 1.5px);
    width: 25px;
    border: 1.5px solid #e5e5e5;
    transform: translate(-2px, 0);
}

.red-click-shutdown{
    display: none;
}

.red-click-shutdown:checked + .red-shutdown{
    background: #00E000;
    border: 2px solid #00E000;
}

.red-button-shutdown-2{
    transition: all 0.30s ease;
    display: block;
    content: '';
    background: #FFFFFF;
    border-radius: 50%;
    height: calc(25px - 1.5px);
    width: 25px;
    border: 1.5px solid #e5e5e5;
    transform: translate(+90%, 0);
}

/*CARTE*/
.red-card{
    display: block;
    margin: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: auto;
    height: auto;
    margin-bottom: 5px;
    border: none;
}

.red-card-little{
    display: block;
    margin: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 275px;
    height: auto;
    margin-bottom: 5px;
    border: none;
}

/*DEFINE MENU*/
.red-define-moov{
    transition: 1s;
}
.red-define-moov:hover{
    left: 20%;
}

/*MENU APPARITION*/
.red-menu{
    overflow-y: auto;
    overflow-x: hidden;
    transition: 1s ease;
    height: 100%;
    width: 0px;
    border: none;
    background: #009650;
    color: White;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.red-menu:hover{
    width: auto;
}

.red-icon-menu-white:hover div{
    width: 300px;
}

/*BORDER STYLE LEFT*/
.red-border-left{
    border-left: 6px solid #cccccc;
    font-size: 16px;
    width: calc(300px - 6px);
    height: auto;
    background: #FFFFFF;
    overflow: auto;
    color: Black;
}

/*TEXT MARGIN*/
.red-margin{
    margin: 10px;
}

.red-margin-little{
    margin: 5px;
}

/*CURSOR*/
.red-cursor-default{
    cursor: default;
}

.red-cursor-hand{
    cursor: hand;
}

/*DROPDOWN*/
.red-dropdown-1{
    width: 150px;
    background: #cccccc;
    color: Black;
    height: 50px;
    cursor: default;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

.red-dropmenu-1{
    position: relative;
    width: 150px;
    height: 0;
    background: #cccccc;
    transition: 1s ease;
    display: inline-block;
    overflow: hidden;
}

.red-dropdown-1:hover .red-dropmenu-1{
    height: 200px;
}

/*MIDDLE*/
.red-middle{
    position: absolute;
    top :50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*BUTTON 1*/
.red-div-btn-1{
    transition: 0.30s ease;
    position: relative;
    height: 50px;
    outline: none;
    width: 300px;
    font-size: 15px;
    background: #03224C;
    text-align: center;
    color: White;
    display: block;
    border: none;
    cursor: default;
    margin: 0;
    position: relative;
    top: 0;
}

.red-div-btn-1 p{
    cursor: default;
    display: block;
}

.red-div-btn-1:before{
    position: absolute;
    left: calc(300px - 25px);
    top: calc(25px - 5px);
    content: '';
    display: block;
    background: transparent;
    width: 10px;
    height: 10px;
    color: white;
    right: 0;
    overflow: hidden;
    border: 3px solid #FFFFFF;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.red-div-btn-1:after{
    background: #03224C;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    transition: 0.15s ease;
}

.red-div-btn-1:hover:after{
   background: #4169E1;
}

.red-div-btn-1:hover{
    letter-spacing: 2px;
}
